@font-face {
  font-family: '2118webfont';
  src:  url('~assets/fonts/icon/2118webfont.eot?qw1k6s');
  src:  url('~assets/fonts/icon/2118webfont.eot?qw1k6s#iefix') format('embedded-opentype'),
    url('~assets/fonts/icon/2118webfont.ttf?qw1k6s') format('truetype'),
    url('~assets/fonts/icon/2118webfont.woff?qw1k6s') format('woff'),
    url('~assets/fonts/icon/2118webfont.svg?qw1k6s#2118webfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '2118webfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-play:before {
  content: "\e900";
}
.icon-cafebazaar-logo:before {
  content: "\e901";
}
.icon-cafebazaar:before {
  content: "\e902";
}
.icon-sibche-logo:before {
  content: "\e903";
}
.icon-sibche:before {
  content: "\e904";
}
.icon-aboutus:before {
  content: "\e905";
}
.icon-category:before {
  content: "\e906";
}
.icon-closefill:before {
  content: "\e907";
}
.icon-contact:before {
  content: "\e908";
}
.icon-filter:before {
  content: "\e909";
}
.icon-fullscreen:before {
  content: "\e90a";
}
.icon-hamburger-menu:before {
  content: "\e90b";
}
.icon-ios-addhome:before {
  content: "\e90c";
}
.icon-ios-chevron_right:before {
  content: "\e90d";
}
.icon-ios-eyefill:before {
  content: "\e90e";
}
.icon-ios-eyeslashfill:before {
  content: "\e90f";
}
.icon-ios-share:before {
  content: "\e910";
}
.icon-iphone:before {
  content: "\e911";
}
.icon-locationsearch:before {
  content: "\e912";
}
.icon-locationfill:before {
  content: "\e913";
}
.icon-location:before {
  content: "\e914";
}
.icon-logout:before {
  content: "\e915";
}
.icon-main:before {
  content: "\e916";
}
.icon-myworks:before {
  content: "\e917";
}
.icon-phonefill:before {
  content: "\e918";
}
.icon-plus:before {
  content: "\e919";
}
.icon-profilefill:before {
  content: "\e91a";
}
.icon-profile:before {
  content: "\e91b";
}
.icon-profile-addresses:before {
  content: "\e91c";
}
.icon-profile-image:before {
  content: "\e91d";
}
.icon-profile-phones:before {
  content: "\e91e";
}
.icon-profile-web:before {
  content: "\e91f";
}
.icon-search:before {
  content: "\e920";
}
.icon-setting:before {
  content: "\e921";
}
.icon-sliderhorizontal:before {
  content: "\e922";
}
.icon-star-empty:before {
  content: "\e923";
}
.icon-star-full:before {
  content: "\e924";
}
.icon-star-half:before {
  content: "\e925";
}
.icon-suitheartfill:before {
  content: "\e926";
}
.icon-suitheart:before {
  content: "\e927";
}
.icon-terms:before {
  content: "\e928";
}
.icon-instagram:before {
  content: "\e929";
}
.icon-telegram:before {
  content: "\e92a";
}
.icon-facebook:before {
  content: "\e92b";
}
.icon-twitter:before {
  content: "\e92c";
}
.icon-linkedin:before {
  content: "\e92d";
}
.icon-categories-restaurants:before {
  content: "\e92e";
}
.icon-categories-sport:before {
  content: "\e92f";
}
.icon-categories-print:before {
  content: "\e930";
}
.icon-categories-tech:before {
  content: "\e931";
}
.icon-categories-transportation:before {
  content: "\e932";
}
.icon-categories-houses:before {
  content: "\e933";
}
.icon-categories-offices:before {
  content: "\e934";
}
.icon-categories-medicine:before {
  content: "\e935";
}
.icon-categories-education:before {
  content: "\e936";
}
.icon-categories-agriculture:before {
  content: "\e937";
}
.icon-categories-car:before {
  content: "\e938";
}
.icon-categories-clothing:before {
  content: "\e939";
}
.icon-categories-cosmetic:before {
  content: "\e93a";
}
.icon-categories-travel:before {
  content: "\e93b";
}
